@media screen and (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column; 
        align-items: center;
      }
    
      .navbar.show {
        display: flex; 
      }
    
      .navbar a {
        padding: 15px; 
        border-bottom: 1px solid var(--fourth-color);
      }
    
      header{
        padding: 20px 20px; 
      }
    
      .logo {
        font-size: 1.5rem; 
      }

      .heading{
        font-size: 2.5rem;
      }

    section {
      padding: 13rem 5%;
      overflow-x: hidden;
    }

    .home{
      margin-bottom: 5rem;
    }
  
    .home-text h1 {
        margin-right:1rem !important;
      font-size: 4rem;
      text-align:center;
    }
  
    .home-text .iman:hover{
      letter-spacing: 0;
    }

    .home-text p {
      font-size: 1.5rem;
      margin-right:2rem;
      text-align: center;
    }

    .quotes{
      margin-top: -5 !important;
    }

    .quotes h1 {
      margin-top: 6rem;
      font-size: 2rem;
      margin: 0;
      padding: 0;
      text-align: center;
    }

      .about {
        flex-direction: column; 
        text-align: left; 
        gap: 2rem;
    }

    #snackbar{
      bottom: 200px;
    }

    .about img {
        height: auto; 
        max-width: 100%; 
    }

    .about-text h1 {
        font-size: 2.5rem;
    }

    .about-text p {
        font-size: 1.5rem; 
    }

    .skill {
        grid-template-columns: repeat(1fr); 
    }

    .skill h1 {
        font-size: 1.7rem; 
        margin-bottom:1rem;
    }

    .skill h1:hover{
      letter-spacing: 0;
  }


    .skill ul li {
      font-size:1.5rem;
        text-align: right;
        font-weight:500;
    }

    .project-box {
        margin: 1rem; 
    }

    .project-img img {
        width: 100%; 
    }

    .project h1 {
        text-align: center; 
        margin: 1rem; 
        font-size: 2.5rem; 
    }
    .project h1:hover{
        letter-spacing:0;
    }

    .project .small {
        text-align: center; 
        letter-spacing:0;
    }

    .project .sec{
      text-align:center;
    }

    .sociala {
        display:flex;
    }

    .sociala li{
        margin-left:2rem;
    }

    .contactbox {
        grid-template-columns: repeat(1, 1fr); 
    }

    #contact-form {
        width: 90%; 
    }
}

/* btuuun */
@media (max-width: 768px) {
  .back-btn {
    margin: 1rem;
  }

  .back {
    background-color: #F3EEEA;
    font-size: 0.95rem;
  }

  .btnnnn{
    font-size: 1.2rem;
  }

  #contact-form button {
    font-size: 1rem;
  }

}